# Ignore content from user folder, but not the folder itself
app/assets/user/*
!app/assets/user/.gitkeep

# Ignore content from recyclable folder, but not the folder itself
app/assets/recyclable/*
!app/assets/recyclable/.gitkeep