.btn-view {
    border-radius: 50px;
    margin-right: 30px;
    background-color: var(--accent-color);
    color: white;
    border: none !important;
}

.btn-view:hover {
    background-color: var(--accent-dark-color);
    border-color: none;
    color: white;
}

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #E5E7EB;
    padding: 10px;
}

.navbar .navbar-brand img {
    height: 40px;
    margin-left: 20px;
}

.user-icon {
    color:grey;
    font-size: 20px;
    margin-left: 16px;
}

.user-icon:hover {
    color: var(--accent-color);
    cursor: pointer;
}

.sidebar {
    margin: 0;
    width: 250px;
    background-color: #fff;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 1;
    text-align: left;
}

.sidebar a {
    display: block;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 16px;        
    font-weight: 500;
    line-height: 10px;
    margin: 5px;
}

.sidebar a:first-child {
    margin-top: 10px;
}

.sidebar a:hover{
    background-color: #EDF2F7;
    color: var(--accent-color);
    border-radius: 40px;
}

.sidebar i {
    font-size: 16px;
}

.sidebar .logout {
    position: absolute;
    bottom: 130px;
}

.sidebar .logout:hover {
    background-color: transparent;
    color: red;
    border-radius: 40px;
}

.form-view {
    margin-right: 26px;
}

.sidebar hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 2px solid #E5E7EB;
}

.fa-tree {
    margin-right: 22px;
}

.fa-puzzle-piece {
    margin-right: 17px;
}

.fa-chart-pie {
    margin-right: 17px;
}

.fa-edit {
    margin-right: 17px;
}

.fa-sign-out-alt {
    margin-right: 22px;
}

.fa-users {
    margin-right: 15px;

}

/* Content */
.content {
    margin-left: 250px;
    padding: 1px 16px;
    height: 1000px;
    background-color: #E5E7EB;
}