.btn1 {
    background-color: #fff;
    color: black;
    border: none;
    text-decoration: none;
    margin-left: -20px;
}

.btn1:hover {
    color: var(--primary-dark-color);
    border: none;
    text-decoration: none;
}

.display-4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
    margin-left: 30px;
    margin-bottom: -40px;
}

.badge-secondary {
    background-color: white;
    font-weight: lighter;
    color: grey;
}

.badge-price {
    padding: 6px 12px;  
    margin-left: 10px;
    font-size: 15px;
    color: #DEF7EC;
    background-color: var(--green-800, #03543F);
    margin-top: 8px;
}

.text-dark i {
    color: var(--warning-background);
}

.text-dark i:hover {
    color: red;
}

.section-up {
    margin-bottom: -20px;
}

.btn-outline-secondary.js-btn-minus,
.btn-outline-secondary.js-btn-plus {
    font-size: 16px;
    padding: 8px;
    width: 32px;
    border: none;
    border-radius: 50%;
    margin-top: 10px;
}

.btn-outline-secondary.js-btn-minus i,
.btn-outline-secondary.js-btn-plus i {
    font-size: 16px;
}

.form-control.text-center {
    max-width: 60px;
    text-align: center;
    margin-top: 10px;
}

.input-group-prepend,
.input-group-append {
    margin: 0 5px;
}

.btn-outline-secondary.js-btn-minus:hover,
.btn-outline-secondary.js-btn-plus:hover {
    background-color: transparent;
    color: #343a40;
}

.btn-outline-secondary.js-btn-minus:focus,
.btn-outline-secondary.js-btn-plus:focus {
    outline: none;
}

.qty-input {
    max-width: 120px;
    padding-top: 4px;
}

.cart-table {
    margin-top: 20px;
}

.cart-title-box {
    z-index: 100;
    position: relative;
}

.cart-title {
    margin-top: 20px;
    margin-bottom: -80px;
    font-size: 30px;
}

.cart-table-box {
    padding: 48px 48px 10px;
}

.points-worth-text {
    display: inline-block;
    margin-top: 8px;
}

.points-worth {
    padding-top: 5px;
}

.empty-cart {
    margin: 100px auto;
}

.cart-prod-qty {
    background-color: transparent !important;
    border: none !important;
    font-weight: 700 !important;
    color: black !important;
}