.sidebar {
    display: flex;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-shrink: 0;
    position: fixed;
    height: 40%;
    margin-top: 10%;
    margin-left: 10%;
    border: 1px solid #F4F5F6;
    border-radius: 16px;
    box-shadow: 0px 8px 16px rgba(15, 15, 15, 0.1);
    overflow: hidden;
}

.nav-link {
    text-align: left;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    color: var(--text-light-color);
    display: block; 
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;

}

.nav-link i {
    margin-right: 10px;
}

.nav-link:hover {
    color: var(--text-color);
}

.logout {
    color: red;
}

.logout:hover {
    color: var(--lr-btn-primary);
}

.content {
    margin-left: 256px;
    padding: 20px;
    margin-top: 10%;
}

.content h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.96px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.profile {
    border-radius: 90px;
    border: 2px solid #E6E8EC;
    display: flex;        
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: var(--accent-color);
    background-color: #fff;
    font-weight: 600;
}

.profile:hover {
    color: #fff;
    background-color: var(--accent-color);
    transition: all 0.3s ease;
}

span {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px;
}

span h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.96px;
    color: var(--text-color);
}

.form-horizontal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-horizontal label {
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    color: var(--text-light-color);
}

.form-horizontal input {
    border: 2px solid #E6E8EC;
    border-radius: 8px;
    padding: 23px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: var(--text-color);
}

.button-group {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.form-horizontal hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.cancel-btn {
    color: var(--text-light-color);
    cursor: pointer;
    font-weight: 600;
}

.cancel-btn i {
    margin-right: 5px;
    margin-left:5px;
}

.btn-primary {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    border-radius: 90px;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width:15%;
}

input:disabled {
    color: var(--text-color);
}

.btn-primary:hover {
    background-color: var(--accent-dark-color);
    transition: all 0.3s ease;
}



