.container {
    margin-top: 60px;
}

.btn1 {
    background-color: transparent;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    opacity: 0.9;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-left: -20px;
}

.btn1:hover {
    color: #555;
    text-decoration: none;
}

.table-title {        
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.32px;
    margin-bottom: -20px;
}

.label-text {
    font-size: 20px;
    margin-top: -20px;
}

.recycle-title,
.history-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: var(--text-color);
}

.recycle-title {
    margin-bottom: -20px;
}

.history-title {
    margin-top: 60px;
    margin-bottom: -26px;
}

.recycle-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.96px;
}

/* Orders DataTable */


#recycle-history {
    border: none;
    width: 100%;
}

#recycle-history th,
#recycle-history td {
    border: none;
}

#recycle-history thead tr {
    border-bottom: 2px solid #ccc;
    font-size: 12px;
    color: #888;
    background-color: #F4F5F6;
}

#recycle-history thead th {
    padding: 20px;
}

#recycle-history tbody td {
    padding: 15px 20px;
    background-color: #fff;
}

#recycle-history tbody td:nth-child(3) {
    color: #6B7280;
    font-size: 14px;
}

#recycle-history tbody td:nth-child(1) {
    font-weight: 600;
    font-size: 15px;
}

#recycle-history_filter input[type="search"] {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    color: #333;
    background-color: #F4F5F6;
    margin-top: 0;
}

#recycle-history_filter input[type="search"]:focus {
    outline: none;
    border: 1px solid var(--accent-color);
}

#recycle-history_filter label {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #6B7280;
}

#recycle-history_paginate {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #fff;
}

#recycle-history_paginate span a {
    padding: 10px 22px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 5px;
    background-color: var(--accent-color);
}

#recycle-history_paginate span a:hover {
    background-color: var(--accent-dark-color);
    transition: all 0.3s ease;
}

#recycle-history_paginate span a.paginate_button.current {
    background-color: var(--accent-dark-color);
    border: 1px solid var(--accent-dark-color);
}

#recycle-history_paginate .previous,
#recycle-history_paginate .next {
    display: none;
}